@font-face {
	font-family: 'LeagueSpartan'; 
	src: url("./assets/fonts/LeagueSpartan-VariableFont.ttf"); 
}

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  


body {
    font-family: "LeagueSpartan";
}
.header{
    display: flex;
    width: 1440px;
    background-color: #F8F8F8;
    padding: 104px 133px 168px 133px;
}


.header-title{
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 45px;
    font-weight: 500;
}

.header-subtitle {
    font-size: 250px;
    line-height: 233px;
    margin-bottom: 43px;
}

.header-description {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 61px;
}

.buy-wrapper {
    display: flex;

}

.buy-link {
    display: block;
    width: 278px;
    height: 82px;
    background-color: #161515;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 82px;
    text-decoration: none;
    text-align: center;
}

.price {
    width: 143px;
    height: 82px;
    background-color: white;
    color: black;
    font-size: 32px;
    line-height: 82px;
    text-decoration: none;
    text-align: center;
}
.header-image{
    display: block;
    width: 772px;
    margin-top:-104px;
    margin-left: -60px;
}

.popular-title {
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    margin-top: 43px;
    font-weight: 300px;
}

.modul-title {
    font-size: 72px;
    line-height: 81px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 84px;
}

.item-wrapper {
    margin: 0 auto;
    width: 417px;
}

.item-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 417px;
    height: 630px;
    background-color: #F8F8F8;
    margin-bottom: 67px;
}

.item-title{
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 17px;
    text-align: center;

}

.item-image {
    width: 500px;
}

.item-description {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 100px;
}

.product-description {
    font-size: 35px;
    text-align: center;
    line-height: 10px;
    margin-bottom:25px;
}

.hr-line {
    width: 200px;
    height: 0;
    margin-bottom: 20px;
}

.wrapped-description {
    margin: 0 auto;
    width: 417px;
}

.description {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 100px;
}